@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Base fonts with fallbacks */
  --font-apple: -apple-system, "BlinkMacSystemFont";
  --font-fallback: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --font-emoji: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-base: var(--font-apple), var(--font-fallback), var(--font-emoji);
}

html,
body,
#root {
  @apply w-full min-h-screen;
}

body {
  @apply bg-haqq-black font-guise text-white will-change-auto;
}
